*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: cursive;
}
body{
    width: 100%;
    display:flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,0,0,0.5410539215686274) 100%);
}
header{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
h1{
    display:flex;
    align-self: center;
    margin-left: 2rem;
    font-weight: bold;
    font-size: 2.5rem;
}
.logo{
    width: 6rem;
}
nav{
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: 0 40%;
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 0, 0);
    width: 14rem;
    min-height: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.438); 
}
a[href="#"]{
    background-color: rgb(255, 255, 255);
    color: black;
}
main{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 60vh;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}article{
    color: black;
    padding: 5px;
}
.title2{
    text-align: center;
    border: solid 1px black;
    width: 100%;
    font-size: 1.5rem;
    color: red;
}
.title3{
    text-align: center;
    margin: 2rem 0;
    border: dotted 1px rgb(255, 0, 0);
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self:center;
    height: 100%;
    width: 95%; 
}
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-color: black;
}
.imgGalery{
    width: 15rem;
    border: solid 3px black;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.438); 

}
.imgGalery:hover{
    transform: scale(1.5) translate(-20%, -20%);
    transition: 1.5s;
}
.rules{
    padding-left: 5rem;
    justify-content: center;
    text-align: left;
}
.rules>dl>dt{
    font-weight: bold;
    text-align: center;
}
ol>li{
    padding: 0.5rem 0;
}
ol>li>ol>li{
    list-style-type:lower-latin;
    margin-left: 3rem;
}
td{
    text-align:center;
}
th, td{
    border: 0.25px solid  rgba(255, 94, 0, 0.527);
}
.borderNone{
    border:none;
}
.centrarTexto{
    text-align: center;
}
.bold{
    font-weight: bold;
}
#none-style-li{
    list-style-type: circle;
}
#marginTop{
    margin-top: 1.5rem;
}
fieldset{
    border: none;
}
select[multiple] {
    height: 1.5em;
    vertical-align: top;
}
select[multiple]:focus,
select[multiple]:active {
    height: auto;
}
form{
    display:flex;
}
fieldset{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 1rem 1rem;
}
fieldset>label{
    display: flex;
    width: 50%; 
    
}
fieldset>h3{
    width: 100%;
}
.formGroup{
    display: flex;
    flex-direction: row;
    width: 50%;
}
input, select{
    background-color:rgba(255, 234, 196, 0.521);
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.363);
}
label>input{
    margin-left:2rem;
}
input[type=text]{
    width: 50%;
    text-align: center;
}
#permission{
    margin: 1.5rem 0;
}
input[type=submit]{
    display: flex;
    margin-top: 1rem;
    border-color: aliceblue;
    background-color: rgb(255, 210, 127);
    border-radius:10px;
    width: 20%;
    justify-content: center;
    align-self: center;
}
#mapas{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
iframe{
    border-radius: 10px;
    border-color: rgba(255, 0, 0, 0.384);
    box-shadow: 2px 2px 3.5px 2px rgba(0, 0, 0, 0.438);
    margin: 0.5rem 0;
}
iframe:hover{
    transform: scale(1.25);
    transition: 0.5s;
}
footer{
    flex-direction: column;
    min-height: 3vh;
    text-align: center;
}
