*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Nunito', sans-serif;
}
body{
    width: 100%;
}
header{
    margin-top: 1rem;
    width: 100%;
}
h1{
    margin-left: 10%;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: x-large;
}
nav{
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: 0 40%;
    height: 40vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: right;
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: blue;
    padding: 0.7rem;
    margin: 0.25rem;
    box-shadow: 5px 2px 2px 2px rgba(0, 0, 0, 0.363);
    position: relative;
    top: -3%;
    right: 2%;
}
a[href="#"]{
    background-color: rgb(2, 198, 2);
}

main{
    display:block;
    width: 100%;

}
section{
    display: inline-block;
    width:100%;
 
}
.title2{
    text-align: center;
    border: solid 1px;
    width: 80%;
    margin-left: 10%;
    position: relative;
}
.logo{
    width: 60%;
}
aside{
    display: inline-block;
    margin-left: 15%;
    width:13%;

    
}
.aboutlogo{
    margin-top: -10rem;
}
.container{
    display: inline-block;
    padding-left: 5%;
    height: 100%;
    width: 60%; 
    
}
/*footer{
    display: block;
    text-align: center;
    min-height: 5vh;
}*/
